.CaseStudies--TitleSection .blockSmaller {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}

.CaseStudies--BusinessLogos img {
  max-width: 21rem;
  max-height: 9rem;
  width: auto;
  height: auto;
}

.CaseStudies--BusinessLogos .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
}

.CaseStudies--Cases {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.CaseStudies--Cases .caseStudie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 18vw;
  height: 18vw;
  z-index: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 25px 0px rgba(84, 131, 157, 0.4);
  text-decoration: none;
  margin-bottom: 5rem;
}

.CaseStudies--Cases .caseStudie .Button {
  opacity: 0;
  margin-top: 0;
  transform: scale(0.95);
}

.CaseStudies--Cases .caseStudie:hover .Button::after {
  opacity: 0;
}

.CaseStudies--Cases .caseStudie .BackgroundImage {
  z-index: -1;
  transition: 0.3s ease all;
}

.CaseStudies--Cases .caseStudie .BackgroundImage.BackgroundOverlay::before {
  opacity: 0.8;
  transition: 0.3s ease all;
}

.CaseStudies--Cases
  .caseStudie:hover
  .BackgroundImage.BackgroundOverlay::before {
  opacity: 0.95;
}

.CaseStudies--Cases .caseStudie:hover .Button {
  opacity: 1;
  height: auto;
  padding: 1rem;
  margin-top: 2rem;
  transform: scale(1);
}

.CaseStudies--Cases .caseStudie:hover .Button::after {
  opacity: 1;
}

.CaseStudies--Cases .caseStudie:hover .BackgroundImage,
.CaseStudies--Cases .caseStudie:hover .clientLogo {
  margin-top: 0;
  transform: scale(1.05);
}

.CaseStudies--Cases .caseStudie .clientLogo {
  margin-top: 4.5rem;
  max-width: 20rem;
  max-height: 12.5rem;
  width: auto;
  height: auto;
  filter: brightness(0) invert(1);
  transition: 0.3s ease all;
}

@media only screen and (max-width: 1200px) {
  .CaseStudies--Cases .caseStudie {
    flex: 45%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .CaseStudies--TitleSection .blockSmaller {
    text-align: center;
  }

  .GetInTouchBlock h3 {
    text-align: center;
  }

  .CaseStudies--Cases .caseStudie {
    height: auto;
  }

  .CaseStudies--BusinessLogos img {
    width: 10rem;
  }
}

@media only screen and (max-width: 520px) {
  .CaseStudies--Cases .caseStudie {
    flex: 100%;
    margin: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  .CaseStudies--BusinessLogos img {
    width: 7rem;
  }
}
