.Home--TitleSection h2 {
  color: var(--darkerGrey);
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -0.52px;
  line-height: 34px;
  text-align: center;
}

.Home--TitleSection .ButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home--TitleSection .ButtonBox .Button:first-of-type {
  margin-right: 4rem;
}

.Home--TitleSection .Image {
  max-width: 120rem;
  width: 100%;
  height: auto;
  margin: 2.5rem auto;
}

.Home--ServicesSecction p.taCenter {
  margin-bottom: 7.5rem;
}

.Home--ServicesSecction .Button,
.Home--CaseStudiesSection .Button {
  width: 21rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.Home--CertificationsSection .ContentBlock div:last-of-type div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.Home--CertificationsSection .logo {
  max-width: 13.5rem;
  max-height: 12rem;
  width: auto;
  height: auto;
  display: inline-block;
}

.Home-caseStudies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Home-caseStudies .Home--Case {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.Home-caseStudies .Home--Case .square {
  position: relative;
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 2px 25px 0px rgba(84, 131, 157, 0.4);
  background: var(--secondary);
}

.Home-caseStudies .Home--Case .square .Image {
  filter: grayscale(1);
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: 0.3s ease all;
}

.Home-caseStudies .Home--Case > div:last-child {
  padding: 0 4rem;
}

.Home-caseStudies .Home--Case {
  padding: 5rem 0;
  text-decoration: none;
}

.Home-caseStudies .Home--Case:hover {
  color: var(--secondary);
}

.Home-caseStudies .Home--Case h4 {
  font-size: 2.4rem;
  letter-spacing: -0.45px;
  line-height: 2.9rem;
}

.Home-caseStudies .Home--Case p {
  margin: 0;
}

.Home-caseStudies .Home--Case p span {
  display: block;
  margin-top: 1.2rem;
}

.Home-caseStudies,
.Home-caseStudies .Home--Case:nth-child(-n + 2) {
  border-bottom: 1px solid var(--secondary);
}

.Home-caseStudies .Home--Case:hover .square .Image {
  opacity: 0.3;
  transform: scale(1.05);
}

.slick-slider {
  position: relative;
}

.slick-slide {
  width: calc(33.33% - 2rem);
  max-width: 37rem;
}

.slick-dots {
  bottom: -5rem;
}

.slick-dots li button:before {
  font-size: 1.2rem;
}

.slick-slide .PostCard {
  display: block;
  margin: 0 1rem;
}

.slick-arrow.slick-prev {
  height: auto;
  width: auto;
  left: 5rem;
  z-index: 1;
}

.slick-arrow.slick-next {
  height: auto;
  width: auto;
  right: 5rem;
  z-index: 1;
}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  font-size: 5rem;
}

@supports (display: grid) {
  .Home--NewsItemsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .Home--NewsItemsGrid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .Home--NewsItemsGrid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .Home--NewsItemsGrid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}
