.ServiceSteps {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ServiceStepsNav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 25px 0px rgba(84, 131, 157, 0.2);
  margin-bottom: 2rem;
}

.ServiceNavItem .Service--Icon {
  background-color: var(--secondaryFaded);
}

.ServiceNavItem {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--secondaryFaded);
  padding: 2rem;
  border-bottom: 0.3rem solid var(--white);
  transition: 0.3s ease all;
  cursor: pointer;
}

.ServiceNavItem.active {
  color: var(--secondary);
  border-bottom: 0.3rem solid var(--secondary);
}

.ServiceNavItem.active .Service--Icon {
  background-color: var(--secondary);
}

.ServiceStepsContentBlocks {
  position: relative;
  z-index: 0;
  box-shadow: 0px 2px 25px 0px rgba(84, 131, 157, 0.2);
  border-radius: 1rem;
  height: auto;
  transition: 0.3s.all ease;
}

.ServiceStepsContentBlock {
  opacity: 0;
  padding: 6rem 8rem 0rem 8rem;
  transition: 0.3s.all ease;
  z-index: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ServiceStepsContentBlock:not(.active) {
  position: absolute;
}

.ServiceStepsContentBlock.active {
  opacity: 1;
  z-index: 1;
}

.ServiceStepsContentBlockItem {
  position: relative;
  width: calc(100% / 3);
}

.ServiceStepsContentBlockItem {
  padding-bottom: 4rem;
}

.ServiceStepsContentBlockItem span {
  color: var(--secondary);
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  width: 3rem;
  height: 3rem;
  display: inline-block;
  line-height: calc(3rem -1px);
  text-align: center;
  margin-bottom: 2rem;
}

.ServiceStepsContentBlockItem p {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  color: var(--secondary);
  padding-right: 2rem;
}

.Howitworks--GraphSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.Howitworks--GraphSection .default {
}

.Howitworks--GraphSection .mobile {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .ServiceStepsContentBlockItem {
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 1030px) {
  .ServiceStepsContentBlockItem {
    flex: 0 0 100%;
    text-align: center;
  }
  .ServiceStepsContentBlockItem p {
    padding-right: 0;
  }
}

@media only screen and (max-width: 960px) {
  .ServiceNavItem.active {
    text-align: center;
  }
  .ServiceStepsNav {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
  .ServiceNavItem .Service--Icon {
    display: none;
  }
  .ServiceStepsContentBlockItem p {
    font-size: 2rem;
  }
  .Howitworks--GraphSection .default {
    display: none;
  }

  .Howitworks--GraphSection .mobile {
    display: block;
  }
}
@media only screen and (max-width: 550px) {
  .ServiceStepsContentBlockItem p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 460px) {
  .ServiceStepsContentBlock {
    padding: 0 1rem;
    margin-top: 3rem;
  }
  .Home--CaseStudiesSection {
    padding: 0 0 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .ServiceSteps {
    display: inline;
  }
  .ServiceStepsContentBlockItem {
    margin-top: 2rem;
  }
}
