.Case--Content h1 {
  padding: 5rem 0 7rem;
}

.Case--ContentBlock {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.Case--ContentBlock > div:first-child {
  width: 60%;
  padding-right: 2.5rem;
}

.Case--ContentBlock > div:last-child {
  width: 40%;
  padding-left: 2.5rem;
}

.Case--ContentBlock div:last-child .Image {
  width: 100%;
  margin-bottom: 5rem;
}

.Case--ContentBlock div:last-child iframe {
  max-width: 100%;
}

.Case--InfoBlock {
  display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  width: 100%;
}

.Case--InfoBlock h4 {
  text-transform: uppercase;
}

.Case--InfoBlock img {
  max-width: 15rem;
  max-height: 65rem;
}

.Case--InfoBlock svg {
  opacity: 0.5;
  max-height: 1.6rem;
  display: inline-block;
  position: relative;
  margin-right: 1.2rem;
}

.Case--InfoBlock .ShareWidget {
  margin-top: 0;
  left: 0;
  transform: translateX(0);
}

.Case--InfoBlock .ShareWidget h4 {
  font-size: 1.6rem;
}

.Case--ContentBlock blockquote {
  color: var(--secondary);
  font-family: 'Open Sans';
  font-size: 2.4rem;
  letter-spacing: -0.45px;
  line-height: 3.4rem;
  opacity: 0.7;
  max-width: 45rem;
  margin: 0 auto;
  text-align: center;
  border-left: none;
  padding: 5rem 0;
}

.Case--Edges .edges {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
}

.Case--Edges .edge.default {
  background: var(--secondaryFaded);
}

.Case--Edges .edge {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 50%;
  z-index: 0;
  padding: 7.5rem 5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Case--Edges .edge .BackgroundImage {
  z-index: -1;
  opacity: 0.25;
  transition: 0.3s ease all;
}

.Case--Edges .edge .Image {
  max-height: 10rem;
  max-width: 15rem;
  height: auto;
  width: auto;
  margin-bottom: 2rem;
}

.Case--Edges .edge span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.Case--Edges .edge:hover .BackgroundImage {
  transform: scale(1.05);
}
