.ContentBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ContentBlock:nth-of-type(2n + 2) {
  flex-direction: row-reverse;
  margin-top: 15rem;
}

.ContentBlock > div {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ContentBlock > div:first-of-type {
  justify-content: center;
  padding-right: 5rem;
}

.ContentBlock > div:last-of-type {
  padding-left: 5rem;
}

.ContentBlock:nth-of-type(2n + 2) > div:last-of-type {
  padding-right: 5rem;
}

.ContentBlock:nth-of-type(2n + 2) > div:first-of-type {
  padding-left: 5rem;
}

.ContentBlock > div img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.ContentBlock > div .Button {
  width: 21rem;
  margin-top: 2rem;
}

/* @media only screen and (max-width: 1080px) {
  .ContentBlock > div:last-of-type {
    flex: 0 0 100%;
  }
} */

@media (max-width: 768px) {
  .ContentBlock{
    flex-direction: column;
    text-align: center;
  }

  .ContentBlock:nth-of-type(2n + 2) {
    flex-direction: column;
    margin-top: 15rem;
  }

  .ContentBlock > div {
    width: 100%;
  }

  .ContentBlock > div .Button {
    margin: 2rem auto 0;
  }

  .ContentBlock > div:first-of-type {
    padding-right: 0;
  }

  .ContentBlock > div:last-of-type {
    margin-top: 4rem;
    padding-left: 0;
  }

  .ContentBlock > div:last-of-type img {
    display: none;
  }

  .ContentBlock:nth-of-type(2n + 2) > div:last-of-type {
    padding-right: 0;
  }

  .ContentBlock:nth-of-type(2n + 2) > div:first-of-type {
    padding-left: 0;
  }

  .ContentBlock:nth-of-type(2n + 2) {
    margin-top: 0;
  }
}
