footer {
  --formWidth: 37rem;
}

.Footer {
  position: relative;
  padding: 10rem 0;
  margin-top: 7.5rem;
  background: var(--lightGrey);
  z-index: 0;
}

.Footer .BackgroundImage {
  z-index: -1;
}

.Footer .FooterBox {
  display: flex;
  flex-direction: row;
}

.FooterBox .FooterNav {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.FooterBox .FooterNav .FooterNavItems {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.FooterBox .FooterNav p {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.FooterBox .FooterFormBox {
  position: relative;
  /* width: 30%; */
}

.FooterBox .FooterNav p,
.FooterBox .FooterFormBox p {
  color: var(--white);
  opacity: 0.5;
  font-size: 1.4rem;
}

.FooterBox .FooterFormBox p {
  margin-top: 10rem;
  margin-bottom: 0;
  text-align: left;
}

.FooterBox ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

.FooterBox ul li {
  color: var(--midGrey);
  font-size: 1.4rem;
}

.FooterBox ul li a {
  color: var(--midGrey);
  text-decoration: none;
}

.FooterBox ul li svg {
  opacity: 0.5;
  max-height: 1.6rem;
  display: inline-block;
  position: relative;
  margin-right: 1.2rem;
}

.FooterBox ul li a:last-of-type svg {
  margin-right: 0;
}

.FooterBox .ListHeading {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  min-height: 2.2rem;
  padding-bottom: 1.2rem;
}

@media only screen and (max-width: 1080px) {
  .Footer {
    margin-top: 0;
  }
}

@media only screen and (max-width: 900px){
  .Footer {
    margin-top: 0;
    padding: 2rem 0;
  }
  .FooterBox .FooterNav .FooterNavItems {
    flex-wrap: wrap;
  }
  .FooterBox ul {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 882px) {
  .FooterBox .ListHeading {
    width: 20rem;
  }
}

@media only screen and (max-width: 420px) {
  .Footer .FooterBox {
    flex-direction: column;
  }

  .FooterBox .FooterNav {
    width: 100%;
  }

  .FooterBox .FooterNav ul, .FooterBox .FooterNav p {
    text-align: center;
  }

  .FooterBox .FooterNav p {
    margin-top: 2rem;
  }

  .FooterForm .FormGroup {
    flex-direction: column;
  }

  .FooterForm .FormGroup label {
    width: 100%;
  }

  .FooterForm .Form--SubmitButton {
    align-self: center;
  }

  .FooterBox .FooterFormBox ul {
    text-align: center;
    width: 100%;
  }

  .FooterBox .FooterFormBox {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .FooterBox .FooterFormBox p {
    margin-top: 4rem;
    text-align: center;
  }
  .FooterBox .ListHeading {
    width: auto;
  }
}
