.GetInTouchBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.GetInTouchBlock h3 {
  color: var(--darkerGrey);
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: -1.25px;
  line-height: 2.4rem;
}

.GetInTouchBlock h2 {
  font-size: 36px;
  letter-spacing: -0.67px;
  line-height: 44px;
}

.GetInTouchBlock > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GetInTouchBlock > div:last-of-type .Button {
  display: inline-block;
  width: 20rem;
  margin: 2rem;
}

@media only screen and (max-width: 1000px) {
  .GetInTouchBlock {
    flex-wrap: wrap;
    justify-content: center;
  }

  .GetInTouchBlock h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .GetInTouchBlock {
    justify-content: center;
  }
  .GetInTouchBlock h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 580px) {
  .GetInTouchBlock h2 {
    font-size: 2.5rem;
  }
  .GetInTouchBlock > div:last-of-type .Button {
    width: 15rem;
    font-size: 1.2rem;
    min-width: 0;
  }
}

@media only screen and (max-width: 440px) {
  .GetInTouchBlock > div:last-of-type .Button {
    width: 10rem;
    font-size: .9rem;
  }
  .GetInTouchBlock h2 {
    font-size: 2rem;
  }
  .GetInTouchBlock h3 {
    line-height: 3.5rem;
  }
}
