.GetInTouchBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.GetInTouchBlock h3 {
  color: var(--darkerGrey);
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: -1.25px;
  line-height: 2.4rem;
}

.GetInTouchBlock h2 {
  font-size: 36px;
  letter-spacing: -0.67px;
  line-height: 44px;
}

.GetInTouchBlock > div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GetInTouchBlock > div:last-of-type .Button {
  display: inline-block;
  width: 20rem;
  margin: 2rem;
}

@media only screen and (max-width: 768px) {
  .GetInTouchBlock {
    justify-content: center;
  }
  .GetInTouchBlock h2 {
    text-align: center;
  }
}
