:root {
  --primary: #5ef288;
  --primaryFaded: rgba(94, 242, 136, 0.2);
  --secondary: #33495b;
  --secondaryFaded: rgba(51, 73, 91, 0.2);
  --lightGrey: #f8f8f8;
  --grey: #639bb9;
  --midGrey: #f3f3f3;
  --midGreyFaded: rgba(243, 243, 243, 0.2);
  --darkerGrey: #54839d;
  --darkerGreyLessFaded: rgba(84, 131, 157, 0.7);
  --darkerFaded: rgba(84, 131, 157, 0.2);
  --danger: #ff3d3d;
  --white: #fff;
  --whiteFaded: rgba(255, 255, 255, 0.2);
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: var(--lightGrey);
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.84px;
  line-height: 55px;
  text-align: center;
}

h2 {
  color: var(--secondary);
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -0.67px;
  line-height: 4.4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

p {
  color: var(--darkerGreyLessFaded);
  font-size: 1.6rem;
  letter-spacing: -0.67px;
  line-height: 24px;
}

p.larger {
  font-size: 2.4rem;
  letter-spacing: -0.45px;
  line-height: 3.3rem;
  opacity: 1;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */
section:first-of-type {
  padding-top: 1rem;
}

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  position: relative;
  background: var(--primary);
  color: var(--white);
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 3rem;
  min-width: 20rem;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0;
  transform: 0.3s;
  outline: none;
  z-index: 0;
}
.Button.Secondary {
  background: var(--darkerGrey);
  color: var(--white);
}
.Button.Tertiary {
  background: var(--midGrey);
  color: var(--secondary);
}
.Button.Quaternary {
  background: var(--white);
  color: var(--secondary);
}
.Button.Bordered {
  background: var(--gray);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}
.Button::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.7rem;
  bottom: -0.7rem;
  right: -0.7rem;
  left: -0.7rem;
  background: var(--primaryFaded);
  border-radius: 3rem;
  z-index: -1;
  transition: all 0.3s ease;
}
.Button:hover,
.Button:focus {
  color: var(--white);
}
.Button.Tertiary:hover,
.Button.Quaternary:hover {
  color: var(--secondary);
}
.Button.secondary:active,
.Button.secondary:focus {
  color: var(--white);
}
.Button.Tertiary:active,
.Button.Tertiary:focus,
.Button.Quaternary:active,
.Button.Quaternary:focus {
  color: var(--secondary);
}
.Button.Bordered:hover {
  color: var(--secondary);
}
.Button:hover::after,
.Button:focus::after {
  opacity: 0.95;
  top: -0.4rem;
  bottom: -0.4rem;
  right: -0.4rem;
  left: -0.4rem;
}
.Button:active::after {
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
}
.Button.Secondary::after {
  background: var(--darkerFaded);
}
.Button.Tertiary::after {
  background: var(--midGreyFaded);
}
.Button.Quaternary::after {
  background: var(--whiteFaded);
}
.Button.Bordered::after {
  display: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
