.InlineBanner {
  position: relative;
  z-index: 0;
  padding: 7.5rem;
  color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 100px -30px rgba(84, 131, 157, 0.75);
}

.InlineBanner.light .BackgroundImage:before {
  background: rgba(172, 219, 242, 0.9);
  opacity: 1;
}

.InlineBanner .BackgroundImage {
  z-index: -1;
}

.InlineBanner h2 {
  font-size: 4.5rem;
}

.InlineBanner p {
  font-size: 2.8rem;
}

.InlineBanner h2,
.InlineBanner p {
  color: inherit;
}

.BannerContent {
  max-width: 72rem;
  margin: 0 auto;
}

.BannerContent .Button {
  width: 21rem;
  margin: 0 auto;
  margin-top: 3rem;
}

@media only screen and (max-width: 460px) {
  .InlineBanner h2 {
    font-size: 2.5rem;
  }
  .InlineBanner p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 375px) {
  .BannerContent .Button {
    min-width: auto;
    width: auto;
  }
}
