.Nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid var(--lightGrey);
  border-bottom: 1px solid #f8f8f8;
  padding: 3rem 0;
  background: var(--lightGrey);
  background: #f8f8f8;
  z-index: 99999999999999999999;
}

@media (max-width: 1024px) {
  .Nav {
    padding: 1rem 0;
  }
}

.Nav--Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  max-width: 130rem;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (min-width: 1440px) {
  .Nav--Links > * + * {
    margin-left: 3rem;
  }
}

.Nav .Logo {
  position: relative;
}

@media (min-width: 1440px) {
  .Nav .Logo {
    margin-right: 3rem;
    position: relative;
  }
}

.Nav--MenuButton {
  display: none;
}

.NavLink {
  position: relative;
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: 0.3s all ease;
  color: inherit;
  text-decoration: none;
}

.NavLink:not(.ButtonSignup)::after {
  content: '';
  width: 0;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  letter-spacing: 50%;
  background: var(--primary);
  background: #5ef288;
  transition: 0.3s all ease;
}

.NavLink:hover:not(.ButtonSignup),
.NavLink.active:not(.ButtonSignup),
.NavLink:focus:not(.ButtonSignup) {
  color: var(--primary);
  color: #5ef288;
}
.NavLink:hover:not(.ButtonSignup):after,
.NavLink.active:not(.ButtonSignup):after,
.NavLink:focus:not(.ButtonSignup):after {
  width: 100%;
  left: 0;
}

.NavLink.ButtonSignup {
  color: var(--white);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 15rem;
  padding: 0.7rem;
  margin-left: 4rem;
}

.NavLink.ButtonSignup svg {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

@media (max-width: 1080px) {
  .Nav--Container {
    display: flex;
  }

  .Nav--MenuButton {
    display: block;
    margin-left: auto;
    z-index: 1;
  }
  .Nav .Logo {
    z-index: 1;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    animation: Nav--Links 0.2s ease;
    width: 100%;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }

  .NavLink.ButtonSignup {
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .NavLink.ButtonSignup::after {
    display: none;
  }

  .NavLink.ButtonSignup svg {
    margin-top: 1.4rem;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}
