.ServicesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid var(--darkerGrey);
  border-top: 1px solid #54839d;
  border-bottom: 1px solid var(--darkerGrey);
  border-bottom: 1px solid #54839d;
}

.ServicesGrid--service {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service {
  position: relative;
  border-top: 1px solid var(--darkerGrey);
  border-top: 1px solid #54839d;
  border-right: 1px solid var(--darkerGrey);
  border-right: 1px solid #54839d;
}

.ServicesGrid--service:nth-of-type(-n + 3) {
  border-top: 0;
}

.ServicesGrid--service:nth-of-type(3n+3) {
  border-right: none;
}

.ServicesGrid--service .Service--Icon .ServicesGrid--service p {
  margin-bottom: 0;
}

.ServicesGrid--service .Button {
  width: 5.5rem;
  margin-top: 2rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service:hover {
  background: var(--darkerGrey);
  background: #54839d;
  color: var(--white);
  color: #fff;
}

.ServicesGrid--service:hover p {
  color: var(--white);
  color: #fff;
}

.ServicesGrid--service:hover .Service--Icon {
  background-color: var(--white);
  background-color: #fff;
}

.ServicesGrid--service:hover .Button.Secondary {
  background: var(--primary);
  background: #5ef288;
}

.ServicesGrid--service:hover .Button.Secondary::after {
  background: var(--primaryFaded);
  background: rgba(94, 242, 136, 0.2);
}

.ServicesGrid--service:hover .imageBorder {
  border-color: var(--white);
  border-color: #fff;
}

.ServicesGrid--service .Service--Icon {
  background-color: var(--secondary);
  background-color: #33495b;
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  max-width: 6rem;
  margin-bottom: 2rem;
  transition: ease all 0.3s;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  border: 2px solid #33495b;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ServicesGrid--service .imageBorder {
   visibility: hidden;
 }
}


.ServicesGrid--service .imageBorder {
  position: relative;
  border-radius: 5rem;
  border: 2px solid var(--secondary);
  border: 2px solid #33495b;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all 0.3s;
  margin-bottom: 2rem;
}

.ServicesGrid--service .imageBorder .Service--Icon {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 980px) {
  .ServicesGrid--service {
    flex: 0 0 50%;
    border-top: none;
    border-bottom: 1px solid var(--darkerGrey);
    border-bottom: 1px solid #54839d;
  }

  .ServicesGrid {
    border: 1px solid var(--darkerGrey);
    border: 1px solid #54839d;
    border-bottom: none;
  }

  .ServicesGrid .ServicesGrid--service:nth-of-type(3n+3) {
    border-right: 1px solid var(--darkerGrey);
    border-right: 1px solid #54839d;
  }

  .ServicesGrid .ServicesGrid--service:nth-of-type(2n+2) {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .ServicesGrid--service {
    width: 100%;
    flex: 0 0 100%;
    border-right: none !important;
  }
}

@media (max-width: 560px) {
  .ServicesGrid {
    border: none;
  }

  .ServicesGrid--service {
    border: 1px solid var(--darkerGrey) !important;
    border: 1px solid #54839d !important;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .ServicesGrid--service p {
    text-align: center;
  }

}
