.ServicesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid var(--darkerGrey);
  border-bottom: 1px solid var(--darkerGrey);
}

.ServicesGrid--service {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  transition: ease all 0.3s;
  align-items: center;
  text-align: center;
}

.ServicesGrid--service {
  position: relative;
  border-top: 1px solid var(--darkerGrey);
}

.ServicesGrid--service:nth-of-type(-n + 3) {
  border-top: 0;
}

.ServicesGrid--service:nth-of-type(2),
.ServicesGrid--service:nth-of-type(5),
.ServicesGrid--service:nth-of-type(8) {
  border-right: 1px solid var(--darkerGrey);
  border-left: 1px solid var(--darkerGrey);
}

.ServicesGrid--service .Service--Icon .ServicesGrid--service p {
  margin-bottom: 0;
}

.ServicesGrid--service .Button {
  width: 5.5rem;
  margin-top: 2rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service:hover {
  background: var(--darkerGrey);
  color: var(--white);
}

.ServicesGrid--service:hover p {
  color: var(--white);
}

.ServicesGrid--service:hover .Service--Icon {
  background-color: var(--white);
}

.ServicesGrid--service:hover .Button.Secondary {
  background: var(--primary);
}

.ServicesGrid--service:hover .Button.Secondary::after {
  background: var(--primaryFaded);
}

.ServicesGrid--service:hover .imageBorder {
  border-color: var(--white);
}

.ServicesGrid--service .Service--Icon {
  background-color: var(--secondary);
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  max-width: 6rem;
  margin-bottom: 2rem;
  transition: ease all 0.3s;
  border-radius: 50%;
  border: 2px solid var(--secondary);
}

.ServicesGrid--service .imageBorder {
  position: relative;
  border-radius: 5rem;
  border: 2px solid var(--secondary);
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all 0.3s;
  margin-bottom: 2rem;
}

.ServicesGrid--service .imageBorder .Service--Icon {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .ServicesGrid--service {
    width: 50%;
  }

  .ServicesGrid--service {
    border-top: 1px solid var(--darkerGrey);
  }

  .ServicesGrid--service:nth-of-type(3) {
    border-top: 1px solid var(--darkerGrey);
  }

  .ServicesGrid--service:nth-of-type(2),
  .ServicesGrid--service:nth-of-type(4),
  .ServicesGrid--service:nth-of-type(6),
  .ServicesGrid--service:nth-of-type(8) {
    border-right: 0;
    border-left: 1px solid var(--darkerGrey);
  }

  .ServicesGrid--service:nth-of-type(5) {
    border-right: 0;
    border-left: 0;
  }
}

@media (max-width: 560px) {
  .ServicesGrid--service {
    flex: 0 0 100%;
  }
  .ServicesGrid--service:nth-of-type(2),
  .ServicesGrid--service:nth-of-type(4),
  .ServicesGrid--service:nth-of-type(6),
  .ServicesGrid--service:nth-of-type(8) {
    border-right: 0;
    border-left: 0px solid var(--darkerGrey);
  }
  .ServicesGrid--service:nth-of-type(-n + 3) {
    border-top: 1px solid var(--darkerGrey);
  }
}
