.ServicesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid var(--darkerGrey);
  border-bottom: 1px solid var(--darkerGrey);
}

.ServicesGrid--service {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service {
  position: relative;
  border-top: 1px solid var(--darkerGrey);
}

.ServicesGrid--service:nth-of-type(-n + 3) {
  border-top: 0;
}

.ServicesGrid--service:nth-of-type(2),
.ServicesGrid--service:nth-of-type(5),
.ServicesGrid--service:nth-of-type(8) {
  border-right: 1px solid var(--darkerGrey);
  border-left: 1px solid var(--darkerGrey);
}

.ServicesGrid--service .ServicesGrid--Icon {
  background-color: var(--secondary);
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  max-width: 6rem;
  margin-bottom: 2rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service .ServicesGrid--Icon.payable {
  mask-image: url("/images/icons/payable.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.receive {
  mask-image: url("/images/icons/receive.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.bas {
  mask-image: url("/images/icons/bas.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.month {
  mask-image: url("/images/icons/month.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.pay {
  mask-image: url("/images/icons/pay.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.payroll {
  mask-image: url("/images/icons/payroll.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.reconciliantion {
  mask-image: url("/images/icons/reconciliantion.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.super {
  mask-image: url("/images/icons/super.svg");
}
.ServicesGrid--service .ServicesGrid--Icon.flow {
  mask-image: url("/images/icons/flow.svg");
}

.ServicesGrid--service .ServicesGrid--Icon .ServicesGrid--service p {
  margin-bottom: 0;
}

.ServicesGrid--service .Button {
  width: 5.5rem;
  margin-top: 2rem;
  transition: ease all 0.3s;
}

.ServicesGrid--service:hover {
  background: var(--darkerGrey);
  color: var(--white);
}

.ServicesGrid--service:hover p {
  color: var(--white);
}

.ServicesGrid--service:hover .ServicesGrid--Icon {
  background-color: var(--white);
}

.ServicesGrid--service:hover .Button.Secondary {
  background: var(--primary);
}

.ServicesGrid--service:hover .Button.Secondary::after {
  background: var(--primaryFaded);
}
