/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/* Document
   ========================================================================== */

/**
 * Use a better box model (opinionated).
 */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Use a more readable tab size (opinionated).
 */

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct height in Firefox.
 */

hr {
	height: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
	padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
	vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Chrome and Safari.
 */

summary {
	display: list-item;
}

:root {
  --primary: #5ef288;
  --primaryFaded: rgba(94, 242, 136, 0.2);
  --secondary: #33495b;
  --secondaryFaded: rgba(51, 73, 91, 0.2);
  --lightGrey: #f8f8f8;
  --grey: #639bb9;
  --midGrey: #f3f3f3;
  --midGreyFaded: rgba(243, 243, 243, 0.2);
  --darkerGrey: #54839d;
  --darkerFaded: rgba(84, 131, 157, 0.2);
  --danger: #ff3d3d;
  --white: #fff;
  --whiteFaded: rgba(255, 255, 255, 0.2);
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--lightGrey);
}

body {
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  background: var(--lightGrey);
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-secondary);
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.84px;
  line-height: 55px;
  text-align: center;
}

h2 {
  color: var(--secondary);
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: -0.67px;
  line-height: 4.4rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}

p {
  color: var(--darkerGrey);
  font-size: 1.6rem;
  letter-spacing: -0.67px;
  line-height: 24px;
  opacity: 0.7;
}

p.larger {
  font-size: 2.4rem;
  letter-spacing: -0.45px;
  line-height: 3.3rem;
  opacity: 1;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: "\A0";
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */
section:first-of-type {
  padding-top: 1rem;
}

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  position: relative;
  background: var(--primary);
  color: var(--white);
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 3rem;
  min-width: 20rem;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0;
  -webkit-transform: 0.3s;
          transform: 0.3s;
  outline: none;
  z-index: 0;
}
.Button.Secondary {
  background: var(--darkerGrey);
  color: var(--white);
}
.Button.Tertiary {
  background: var(--midGrey);
  color: var(--secondary);
}
.Button.Quaternary {
  background: var(--white);
  color: var(--secondary);
}
.Button.Bordered {
  background: var(--gray);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}
.Button::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.7rem;
  bottom: -0.7rem;
  right: -0.7rem;
  left: -0.7rem;
  background: var(--primaryFaded);
  border-radius: 3rem;
  z-index: -1;
  transition: all 0.3s ease;
}
.Button:hover,
.Button:focus {
  color: var(--white);
}
.Button.Tertiary:hover,
.Button.Quaternary:hover {
  color: var(--secondary);
}
.Button.secondary:active,
.Button.secondary:focus {
  color: var(--white);
}
.Button.Tertiary:active,
.Button.Tertiary:focus,
.Button.Quaternary:active,
.Button.Quaternary:focus {
  color: var(--secondary);
}
.Button.Bordered:hover {
  color: var(--secondary);
}
.Button:hover::after,
.Button:focus::after {
  opacity: 0.95;
  top: -0.4rem;
  bottom: -0.4rem;
  right: -0.4rem;
  left: -0.4rem;
}
.Button:active::after {
  top: 0rem;
  bottom: 0rem;
  right: 0rem;
  left: 0rem;
}
.Button.Secondary::after {
  background: var(--darkerFaded);
}
.Button.Tertiary::after {
  background: var(--midGreyFaded);
}
.Button.Quaternary::after {
  background: var(--whiteFaded);
}
.Button.Bordered::after {
  display: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4.6rem;
  width: 20rem;
  align-items: center;
  justify-content: center;
}

.Nav {
  position: relative;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--lightGrey);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025); */
  padding: 3rem;
}

.Nav--Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  max-width: 130rem;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Nav--Links > * + * {
  margin-left: 3rem;
}

.Nav .Logo {
  margin-right: 3rem;
  position: relative;
}

.Nav--MenuButton {
  display: none;
}

.NavLink {
  position: relative;
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: 0.3s all ease;
  color: inherit;
  text-decoration: none;
}

.NavLink:not(.ButtonSignup)::after {
  content: '';
  width: 0;
  height: 0.2rem;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  letter-spacing: 50%;
  background: var(--primary);
  transition: 0.3s all ease;
}

.NavLink:hover:not(.ButtonSignup),
.NavLink.active:not(.ButtonSignup),
.NavLink:focus:not(.ButtonSignup) {
  color: var(--primary);
}
.NavLink:hover:not(.ButtonSignup):after,
.NavLink.active:not(.ButtonSignup):after,
.NavLink:focus:not(.ButtonSignup):after {
  width: 100%;
  left: 0;
}

.NavLink.ButtonSignup {
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 15rem;
  padding: 0.7rem;
  margin-left: 4rem;
}

.NavLink.ButtonSignup svg {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

@media (max-width: 600px) {
  .Nav--Container {
    display: flex;
  }

  .Nav--MenuButton {
    display: block;
    margin-left: auto;
    z-index: 1;
  }
  .Nav .Logo {
    z-index: 1;
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-animation: Nav--Links 0.2s ease;
            animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    -webkit-animation: Nav--Link 0.3s ease-out;
            animation: Nav--Link 0.3s ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
}

@-webkit-keyframes Nav--Link {
  from {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes Nav--Link {
  from {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

.Image {
  display: block;
  width: 100%;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.BackgroundImage .Image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.BackgroundOverlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--darkerGrey);
  opacity: 0.95;
}

.BackgroundOverlay.soft::before {
  opacity: 0.7;
  background: var(--grey);
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.Form > * + * {
  margin-top: 2rem;
}

.Form--Label {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.Form--Input {
  font-family: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: 1px solid #bababa;
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
  line-height: 1.25em;
  transition: border-color 0.2s;
  resize: none;
}

.Form--Select {
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Form--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 2.5rem;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  -webkit-transform: translateY(-75%) rotate(45deg);
          transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.Form--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.Form--Input:focus {
  outline: none;
  border-color: black;
}

.Form--Input:focus {
  outline: none;
  border-color: black;
}

.Form--Input[disabled],
.Form--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.Form--Input::-webkit-input-placeholder {
  text-transform: none;
}

.Form--Input::-ms-input-placeholder {
  text-transform: none;
}

.Form--Input::placeholder {
  text-transform: none;
}

.Form--Alert {
  background: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.Form--Input-honey {
  display: none;
}

.FooterForm .FormGroup {
  border: none;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.FooterForm .FormGroup label {
  display: inline-block;
  position: relative;
  width: calc(50% - 1rem);
}

.FooterForm .FormGroup label input {
  position: relative;
  width: 100%;
  margin: 0;
}

.FooterForm .FormGroup label textarea {
  height: auto;
  min-height: inherit;
}

.FooterForm .Form--Input {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 0.1rem solid var(--lightGrey);
  transition: all 0.3s ease;
}

.FooterForm .Form--Input::-webkit-input-placeholder {
  color: var(--lightGrey);
}

.FooterForm .Form--Input::-ms-input-placeholder {
  color: var(--lightGrey);
}

.FooterForm .Form--Input::placeholder {
  color: var(--lightGrey);
}

.FooterForm .Form--Input:focus {
  outline: none;
  border-color: var(--primary);
}

.FooterForm .Form--SubmitButton {
  padding: 1rem;
  min-width: 13rem;
  font-weight: normal;
  text-transform: lowercase;
  display: flex;
  align-self: flex-end;
  margin-top: 3rem;
}

footer {
  --formWidth: 37rem;
}

.Footer {
  position: relative;
  padding: 10rem 0;
  margin-top: 7.5rem;
  background: var(--lightGrey);
  z-index: 0;
}

.Footer .BackgroundImage {
  z-index: -1;
}

.Footer .FooterBox {
  display: flex;
  flex-direction: row;
}

.FooterBox .FooterNav {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.FooterBox .FooterNav .FooterNavItems {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.FooterBox .FooterNav p {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.FooterBox .FooterFormBox {
  position: relative;
  width: 30%;
}

.FooterBox .FooterNav p,
.FooterBox .FooterFormBox p {
  color: var(--white);
  opacity: 0.5;
  font-size: 1.4rem;
}

.FooterBox .FooterFormBox p {
  margin-top: 10rem;
  margin-bottom: 0;
  text-align: left;
}

.FooterBox ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

.FooterBox ul li {
  color: var(--midGrey);
  font-size: 1.4rem;
}

.FooterBox ul li a {
  color: var(--midGrey);
  text-decoration: none;
}

.FooterBox ul li svg {
  opacity: 0.5;
  max-height: 1.6rem;
  display: inline-block;
  position: relative;
  margin-right: 1.2rem;
}

.FooterBox .ListHeading {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  min-height: 2.2rem;
  padding-bottom: 1.2rem;
}

.ContentBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ContentBlock:nth-of-type(2n + 2) {
  flex-direction: row-reverse;
  margin-top: 15rem;
}

.ContentBlock > div {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ContentBlock > div:first-of-type {
  padding-right: 5rem;
}

.ContentBlock > div:last-of-type {
  padding-left: 5rem;
}

.ContentBlock:nth-of-type(2n + 2) > div:last-of-type {
  padding-right: 5rem;
}

.ContentBlock:nth-of-type(2n + 2) > div:first-of-type {
  padding-left: 5rem;
}

.ContentBlock > div img {
  max-width: 51.5rem;
  margin: 0 auto;
}

.ContentBlock > div .Button {
  width: 21rem;
  margin-top: 2rem;
}

.ServicesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.ServicesGrid--service {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem;
}

.ServicesGrid--service {
  position: relative;
  border-top: 1px solid var(--secondary);
}

.ServicesGrid--service:nth-of-type(-n + 3) {
  border-top: 0;
}

.ServicesGrid--service:nth-of-type(2),
.ServicesGrid--service:nth-of-type(5),
.ServicesGrid--service:nth-of-type(8) {
  border-right: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
}

.ServicesGrid--service .BackgroundImage {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  max-width: 6rem;
  margin-bottom: 2rem;
}

.ServicesGrid--service p {
  margin-bottom: 0;
}

.ServicesGrid--service .Button {
  width: 5.5rem;
  margin-top: 2rem;
}

.InlineBanner {
  position: relative;
  z-index: 0;
  padding: 7.5rem;
  color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 100px -30px rgba(84, 131, 157, 0.75);
}

.InlineBanner.light .BackgroundImage:before {
  background: rgba(172, 219, 242, 0.9);
  opacity: 1;
}

.InlineBanner .BackgroundImage {
  z-index: -1;
}

.InlineBanner h2 {
  font-size: 4.5rem;
}

.InlineBanner p {
  font-size: 2.8rem;
}

.InlineBanner h2,
.InlineBanner p {
  color: inherit;
}

.BannerContent {
  max-width: 72rem;
  margin: 0 auto;
}

.BannerContent .Button {
  width: 21rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.Home--TitleSection h2 {
  color: var(--darkerGrey);
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -0.52px;
  line-height: 34px;
  text-align: center;
}

.Home--TitleSection .ButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home--TitleSection .ButtonBox .Button:first-of-type {
  margin-right: 4rem;
}

.Home--TitleSection .Image {
  max-width: 120rem;
  width: 100%;
  height: auto;
  margin: 2.5rem auto;
}

.Home--ServicesSecction p.taCenter {
  margin-bottom: 7.5rem;
}

.Home--ServicesSecction .Button,
.Home--CaseStudiesSection .Button {
  width: 21rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.Home--CertificationsSection .ContentBlock div:last-of-type div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.Home--CertificationsSection .logo {
  max-width: 13.5rem;
  max-height: 12rem;
  width: auto;
  height: auto;
  display: inline-block;
}


.Form {
  width: 100%;
  max-width: 100%;
}

.ContactForm .FormGroup {
  border: none;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.ContactForm .FormGroup:nth-child(2n + 2) {
  margin-top: 2rem;
}

.ContactForm .FormGroup label {
  display: inline-block;
  position: relative;
  width: calc(50% - 1rem);
}

.ContactForm .FormGroup label input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem;
}

.ContactForm .FormGroup label input::-webkit-input-placeholder {
  color: var(--secondary);
  opacity: 0.7;
}

.ContactForm .FormGroup label input::-ms-input-placeholder {
  color: var(--secondary);
  opacity: 0.7;
}

.ContactForm .FormGroup label input::placeholder {
  color: var(--secondary);
  opacity: 0.7;
}

.ContactForm .FormGroup label textarea {
  height: auto;
  min-height: inherit;
  opacity: 0.7;
}

.ContactForm .Form--Input {
  background: var(--white);
  color: var(--secondary);
  border: 0;
  border-bottom: 0.1rem solid var(--lightGrey);
  transition: all 0.3s ease;
  box-shadow: 0px 2px 25px 0px rgba(84, 131, 157, 0.2);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.ContactForm .Form--Input:focus {
  outline: none;
  border-color: var(--primary);
}

.ContactForm .Form--SubmitButton {
  padding: 1.4rem;
  min-width: 13rem;
  font-weight: normal;
  text-transform: lowercase;
  display: flex;
  align-self: flex-start;
  margin-top: 3rem;
}

.ContactPage-splitview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ContactPage-splitview > div:first-of-type {
  width: 100%;
  max-width: 40rem;
}

.ContactPage-splitview > div:last-of-type {
  width: 100%;
  max-width: 65rem;
}

.ContactPage p {
  margin-bottom: 3rem;
}

.ContactPage--MapLink {
  margin-bottom: 3rem;
  display: block;
  color: var(--darkerGrey);
}

.ContactPage--MapLink small {
  opacity: 0.7;
}

.Maps {
  width: 100%;
  height: 27rem;
}


